/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.section {
  padding: 20px;
  height: 100vh; /* Full height for each section */
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.sticky-heading {
  font-size: 24px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 10px;
  z-index: 10;
}
